<div class="message is-light">
  <div class="message-header">
    <p>Sign In</p>
  </div>
  <div class="message-body">
    <form action="/auth/login" method="POST">
      <label class="label">E-Mail Address</label>
      <input class="input is-one-quarter" type="text" name="email"/><br>
      <label class="label">Password</label>
      <input class="input" type="password" name="password"/><br>
      <button class="button">Sign In</button>
      <a class="column is-centered" href="">Forget Your Password?</a>
    </form>
  </div>
</div>
